* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    background-color: rgb(15, 15, 15);
    font-family: 'Montserrat', sans-serif;
}

header {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80vw;
    margin: auto;
}

.logo {
    flex-grow: 5;
}

nav {
    flex-grow: 1;
}


.nav-list {
    list-style: none;
    display: flex;
    justify-content: space-between;

    a {
        text-decoration: none;
        color: inherit;
        font-weight: 500;
    }

    a:hover {
        color:rgb(231, 152, 179);
        transition: linear 200ms;
    }
}

main {
    background-image: url('../images/bg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .hero-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        letter-spacing: 2px;
        backdrop-filter: blur(15px);
        border: 1px solid rgb(34, 34, 34);
        border-radius: .5em;
        padding: 3rem;
        color: rgb(233, 233, 233);
        max-width: 80%;

        h1 {
            text-align: center;
            font-size: 1.4rem;
        }
        
        p {
            margin-top: 1.5em;
            text-align: center;
            font-size: .8rem;
        }
     }
}

.products-main-section {
    display: flex;
    align-items: center;
    justify-content: center;

    .cards-container {
        display: flex;
        flex-direction: column;
    }

    .card {
        border: 1px solid rgba(230, 178, 196, 0.7);
        min-width: 300px;
        max-width: 350px;
        height: 400px;
        border-radius: .5em;
        margin-top: 2em;
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        color: rgb(197, 197, 197);
    
        img {
            height: 70%;
        }
    }

    .card:last-child {
        margin-bottom: 2em;
    }
}

@media (min-width: 1000px) {

    .products-main-section {
    
        .cards-container {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-column-gap: 2vw;
        }
    }

    main {
        .hero-container {
            padding: 4rem;

            h1 {
                font-size: 1.8rem;
            }
            
            p {
                font-size: 1.2rem;
            }
        }
    }
}